.section {
  padding: 94px 0;
}

.header {
  min-width: 1200px;
  max-width: 1600px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
  margin: 0 auto;
}

.header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header__logo {
  padding: 24px 0 25px 0;
  margin-right: 93px;
}

.logo--header-color {
  color: #000000;
}

.footer__logo {
  padding-bottom: 20px;
}

.logo--footer-color {
  color: #ffffff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-content__item:not(:last-child) {
  margin-right: 50px;
}

.nav-content__item {
  position: relative;
}

.nav-content__item--current::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 1px);
          transform: translate(-50%, 1px);
  opacity: 1;
  background-color: var(--accent-color);
}

.nav-content__link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding: 32px 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-content__link:hover,
.nav-content__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  margin-left: auto;
}

.contacts__item:not(:first-child) {
  margin-left: 30px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  padding: 32px 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.hero {
  min-width: 1200px;
  max-width: 1600px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 200px 0;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #188CE8;
}

.main-btn--suscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px 10px 29px;
}

.main-btn--text {
  margin-right: 10px;
}

.features {
  padding-top: 94px;
}

.features__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
}

.features-list__item:not(:first-child) {
  margin-left: 30px;
}

.features-list__icon {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.features-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.our-occupation {
  padding: 94px 0;
}

.our-occupation__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.service-provide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-provide__item {
  position: relative;
}

.service-provide__item:not(:first-child) {
  margin-left: 30px;
}

.service-provide__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.developers-team {
  min-width: 1200px;
  max-width: 1600px;
  text-align: center;
  background-color: #f5f4fa;
  padding: 94px 0;
  margin: 0 auto;
}

.developers-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.developers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.developers-list__item:not(:first-child) {
  margin-left: 30px;
}

.developer-card {
  width: 270px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.developer-card__meta {
  padding: 30px 32px;
  text-align: center;
}

.developer-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.developer-card__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__item {
  width: 44px;
  height: 44px;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: #ffffff;
}

.social-links__footer-link {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__footer-icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding: 94px 0;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
  cursor: pointer;
  border-color: var(--accent-color);
  outline: none;
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  min-width: 1200px;
  max-width: 1600px;
  padding: 60px 0;
  margin: 0 auto;
  background-color: #2f303a;
}

.footer--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__left-column {
  max-width: 231px;
  margin-right: 85px;
}

.address {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

/* .address {
  color: #ffffff;
} */
.address__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: #ffffff;
}

.address__link {
  margin-bottom: 9px;
}

.join-us__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.suscribe {
  margin-left: auto;
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  background-color: transparent;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__input:focus {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.subscribe-form__input:not(:placeholder-shown) {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}
/*# sourceMappingURL=main.css.map */