.occupations__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.occupations__list {
    display: flex;
}

.occupations__item {
    position: relative;
}

.occupations__item:not(:first-child){
    margin-left: 30px;
}

.occupations__text {
    position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;

    padding-top: 27px;
    padding-bottom: 27px;

    color: #FFFFFF;

    background: rgba(47, 48, 58, 0.8);
}